@import '../../assets/scss/color_palette.scss';

.headerContainer {
    width: 100%;
}

.buttonNavigationWrap {
    box-shadow: 5px 6px 10px -6px rgba(0, 0, 0, 0.95);
    justify-content: end !important;

    h5 {
        margin: auto;
        margin-left: 178px;
    }
}