.signUp_container {

    width: 552px;
    height: 560px;

    form {
        display: grid;
        grid-gap: 14px;
        padding: 50px;

        .invalid_contrasena {
            color: red
        }
    }

    .registrado-wrap {
        display: grid;
        text-align: center;
    }

    .usuario-registrado {
        margin-top: 192px;
    }
}